/* Styles go here */
.logofont{
font-family: 'Aclonica', sans-serif;
}

.generalfont{
  font-family: 'Carme', sans-serif;
}

.sitetitle{
 font-family: 'Hi Melody', cursive;
 font-size: 7vw;
 color: rgb(0, 163, 232)
}

.headings{
  font-family: 'Hi Melody', cursive;
 font-size:40px;
 color: rgb(0, 163, 232)
}

.buttonText{
  font-family: 'Hi Melody', cursive;
  font-size: xx-large;
  color: white;
  background-color: rgb(0, 163, 232);
  border:rgb(0, 163, 232);
}

.buttonText:hover{
  background-color:rgb(220, 53, 69);
  color: white;
}


.special{
    font-family: 'Hi Melody', cursive;
    color: rgb(220, 53, 69);
    font-size: 45px;
}

.specialMobile{
    font-family: 'Hi Melody', cursive;
    color: rgb(220, 53, 69);
    font-size: 25px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Lemonada', cursive;
}

p {
  font-size: medium;
}

.token {
  max-height: 69px;
  max-width: 420px;
}

.sitebackground {
  /* background-image: url('../GTC Full Logo.jpg'); */
  background-image: url('../logo2.png');
  background-color: rgb(0, 163, 232);
  background-repeat: repeat;
  background-size: 6vw;
  min-height: 600px;
}
.sitebackgroundMobile {
  /* background-image: url('../GTC Full Logo.jpg'); */
  background-image: url('../logo2.png');
  background-color: rgb(0, 163, 232);
  background-repeat: repeat;
  background-size: 8vw;
  min-height: 400px;
}

.psmall {
  font-size: 3vw;
}

.backgroundoverlay{
  background-color: aliceblue;
  opacity: .55;
}

.flyer{
  max-width: 500px;
}


.mintNFT {
  display: block;
  position: absolute; /* Position the background text */
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
}


.faded
{
  opacity: 0.55
}

.moreFaded
{
  opacity: 0.15
}
