/* Styles go here */
.logofont{
font-family: 'Aclonica', sans-serif;
}

.generalfont{
  font-family: 'Carme', sans-serif;
}

.sitetitle{
 font-family: 'Hi Melody', cursive;
 font-size: 7vw;
 color: rgb(0, 163, 232)
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lemonada', cursive;
}

p {
  font-size: large;
}

.token {
  max-height: 69px;
  max-width: 420px;
}

.sitebackground {
  background-image: url('../GTC Full Logo.jpg');
  background-repeat: repeat;
  background-size: 7vw
}

.psmall {
  font-size: small;
}

.backgroundoverlay{
  background-color: aliceblue;
  opacity: .55;
}


.banner {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.banner .content {
  display: block;
  position: absolute; /* Position the background text */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0); /* Fallback color*/
  background: rgba(0, 0, 0, 0.5); /*Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.mintNFT {
  display: block;
  position: absolute; /* Position the background text */
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
}





.everything
{
  position: relative; /* Position the background text */
  left: 50%;
  width: 70%;
  transform: translate(-50%);
  padding: 10px;
  border: #e01b84;  
}

.faded
{
  opacity: 0.55
}

.moreFaded
{
  opacity: 0.15
}
